{% extends 'index.html' %}

{% block content %}

    <!-- Dropdown area start-->
    <div class="dropdown-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="dropdown-list">
                        <div class="dropdown-trig-hd">
                            <h2>Selamat Datang, Cari Kacamatamu!</h2>
                            <p>Kamu dapat melihat rekomendasi bentuk frame/bingkai kacamata yang cocok dengan wajah kamu!</p>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">


                            </div>
                        </div>
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Dropdown area End-->

{% endblock content %}