{% extends 'index.html' %}

{% block content %}
<style type="text/css">
.imageWrapper {
    position: relative;
    height: 1000px;
}
.overlayImage {
  position: absolute;
  top: 0;
  left: 0;
}</style>

    <!-- Dropdown area start-->
    <div class="dropdown-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="dropdown-list">
                        <div class="dropdown-trig-hd">
                            <center><h2>
                                    {% if page == 'bp' %} Kacamata Baca Pria {% endif %}
                                    {% if page == 'bw' %} Kacamata Baca Wanita {% endif %}
                                    {% if page == 'gp' %} Sun Glasses Pria {% endif %}
                                    {% if page == 'gw' %} Sun Glasses Wanita {% endif %}
                            </h2></center><hr><br>
                            <h2>Upload Foto</h2>
                            <p>File harus berupa gambar (jpg, jpeg, png) dengan maksimal ukuran 2MB.</p>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div id="dropzone1" class="multi-uploader-cs">
                                    <form action="{{ url_for('post_upload', jk=jk, km=km) }}" method="post" class="dropzone dropzone-nk needsclick" id="demoupload" enctype="multipart/form-data">
                                        <div class="dz-message needsclick download-custom">
                                            <i class="notika-icon notika-cloud"></i>
                                            <h2>Upload Foto Wajah</h2>
                                            <p><span class="note needsclick">(Silahkan klik di sini, atau seret file ke kotak ini untuk upload)</span>
                                            </p>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><br><br>
    <!-- Dropdown area End-->

    <!-- Dropdown area start-->
    <div class="dropdown-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="dropdown-list">
                        <div class="dropdown-trig-hd">
                            <h2>Hasil Prediksi</h2>
                            <p>Foto terupload dan hasil klasifikasi</p>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                    <h5 id="clz"></h5>
                                    <div id="btns"></div>
                                <div id="letak" class="imageWrapper">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Dropdown area End-->

{% endblock content %}

{% block js %}
<script type="text/javascript">
$(document).ready(function(){
    var baseUrl = "../../";
    Dropzone.options.demoupload = {
        init: function () {
            this.on("success", function (file, response) {
                obj = response;
                if(obj.code == 98){
                    $('#kacamata').html('<h3>No face detected.</h3>');    
                } else if(obj.code == 99){
                    $('#kacamata').html('<h3>Too many faces.</h3>');
                } else {
                    $('#letak').html('<img class="overlayImage" src="'+baseUrl+obj.uploaded+'"/>' +
                                        '<img class="overlayImage" style="'+
                                            'top:'+obj.kiriY+'px; '+
                                            'left:'+obj.kiriX+'px; '+
                                            'width: '+(obj.kananX-obj.kiriX)+'px; '+
                                            'transform: rotate('+obj.degree+'deg);'+
                                            'transform-origin: top left;"'+
                                            'src="'+baseUrl+obj.classified+'">');
                    $('#clz').html('Kacamata: '+obj.kelas);
                    $('#btns').html('<button onclick="like(\''+obj.kelas+'\', true)" class="btn btn-default "><i class="fa fa-thumbs-o-up"></i></button>'+
                                    '<button onclick="like(\''+obj.kelas+'\', false)" class="btn btn-default "><i class="fa fa-thumbs-o-down"></i></button>'+
                                    '<button onclick="modal(\''+obj.kiriY+'\')" class="btn btn-default ">Info Index</button>');
                }
            });
        }
    };
});

function like(kacamata, is){
    var baseUrl = "../../../";
    console.log(baseUrl+'like/'+kacamata);
    if(is){
        window.location = baseUrl+'like/'+kacamata;
    }else{
        window.location = baseUrl+'dislike/'+kacamata;
    }
    
}

function modal(objrand) {
    BootstrapDialog.alert("<img alt='index info' src='{{ url_for('static', filename='image_with_landmarks.jpg') }}?version="+objrand+"'></img>");
}
    
</script>
{% endblock js %}